<%= form_for(@position) do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <br />

  <div class="actions">
    <%= link_to 'Voltar', positions_path, class: "btn btn-primary" %>
    <%= f.submit "Salvar", class: "btn btn-success" %>
  </div>
<% end %>
