<p id="notice"><%= notice %></p>

<h1>Listing Arenas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Width</th>
      <th>Length</th>
      <th>Kind</th>
      <th>Place</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @arenas.each do |arena| %>
      <tr>
        <td><%= arena.name %></td>
        <td><%= arena.width %></td>
        <td><%= arena.length %></td>
        <td><%= arena.kind %></td>
        <td><%= arena.place %></td>
        <td><%= link_to 'Show', arena %></td>
        <td><%= link_to 'Edit', edit_arena_path(arena) %></td>
        <td><%= link_to 'Destroy', arena, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Arena', new_arena_path %>
