<%= form_for(@match) do |f| %>
  <div class="field">
    <%= f.label :max_players %>
    <%= f.number_field :max_players, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :visibility %>
    <%= f.select :visibility, Match::VISIBILITIES.map { |key, value| [value, key] }, { include_blank: true }, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :place_id %>
    <%= f.collection_select :place_id, Place.all, :id, :name, { include_blank: true }, class: "form-control" %>
  </div>
  <br />
  <div class="field">
    <%= f.label :start %><br />
    <%= datetime_select("match", "start", start_year: 2015) %>
  </div>
  <br />
  <div class="field">
    <%= f.label :end %><br />
    <%= datetime_select("match", "end", start_year: 2015, default: 1.hour.from_now) %>
  </div>
  <br />
  <div class="actions">
    <%= link_to "Voltar", :back, class: "btn btn-primary" %>
    <%= f.submit "Salvar", class: "btn btn-success" %>
  </div>
<% end %>
