<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @match.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @match.end %>
</p>

<p>
  <strong>Max players:</strong>
  <%= @match.max_players %>
</p>

<p>
  <strong>Visibility:</strong>
  <%= @match.visibility %>
</p>

<p>
  <strong>Place:</strong>
  <%= @match.place %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
