<h2>Lista de Locais</h2>

<div class="col-lg-12 center-block">
  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Arenas</th>
        <th colspan="3">Ações</th>
      </tr>
    </thead>

    <tbody>
      <% @places.each do |place| %>
        <tr>
          <td><%= place.name %></td>
          <td><%= place.description %></td>
          <td><%= place.arenas.size %></td>
          <td><%= link_to 'Alterar', edit_place_path(place), class: "btn-sm btn-warning" %> <%= link_to 'Remover', place, method: :delete, data: { confirm: 'Tem certeza que deseja remover?' }, class: "btn-sm btn-danger" %> <%= link_to "Gerenciar arenas", "#", class: "btn-sm btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to '+ Novo Local', new_place_path, class: "btn btn-success" %>
</div>
